<ion-header>
  <ion-toolbar>
    <ion-title style="text-align:center;" id="home-title">Home</ion-title>
    <ion-buttons end>
      <button class="scan-button" ion-button icon-only (click)="ScanBarCode()">
        <!--<ion-icon name="search"></ion-icon>-->
        <!--<i class="fa-stack fa-circle fa-qrcode "></i>-->
        <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-qrcode fa-stack-3x"></i>
</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="homemain-page">

  <ion-icon id="PizzaId" name="pizza"></ion-icon>

  <ion-icon id="close-marker" tappable ion-button (click)="goBackToStart()" style="display: none" name="md-close"></ion-icon>
  <!--<row>-->
    <!--<button full secondary (click)="hideIt()">Hide</button>-->
    <!--<button full secondary (click)="showIt()">Show</button>-->
  <!--</row>-->

  <ion-card #mcdonald class="welcome-card" tappable ion-button (click)="pickRestaurant('0')">
      <!--<h3 class="food-shadowTop" style="color: white" text-center></h3>-->
      <h3 class="food-title" text-center>McDonald</h3>
      <!--<h3 class="food-shadowBot" style="color: white" text-center></h3>-->
      <img src="img/mcdonald.jpg">
    <div class="foodlist" style="display: none">

      <ion-segment [(ngModel)]="mcdonaldTab" color="secondary">
        <ion-segment-button class="segment-activated" value="burger">Burger</ion-segment-button>
        <ion-segment-button value="sides">Sides</ion-segment-button>
        <ion-segment-button value="dessert">Dessert</ion-segment-button>
        <ion-segment-button value="drinks">Drinks</ion-segment-button>
      </ion-segment>

      <ion-list>
        <div [ngSwitch]="mcdonaldTab">

          <div *ngSwitchCase="'burger'" >
            <ion-item *ngFor="let mcdonald of mcdonald_menu.Burger">
              <ion-thumbnail item-left>
                <img class="mcdonald_img" src="img/food/everything/{{mcdonald.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{mcdonald.name}}</h2>
              <p>Hayao Miyazaki • 1988</p>
              <button ion-button tappable (click)="addFoodItem($event, mcdonald)" clear item-right>Add</button>
            </ion-item>
          </div>

          <div *ngSwitchCase="'sides'" >
            <ion-item *ngFor="let mcdonald of mcdonald_menu.Sides">
              <ion-thumbnail item-left>
                <img class="mcdonald_img" src="img/food/everything/{{mcdonald.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{mcdonald.name}}</h2>
              <p>Hayao Miyazaki • 1988</p>
              <button ion-button tappable (click)="addFoodItem($event, mcdonald)" clear item-right>Add</button>
            </ion-item>
          </div>

          <div *ngSwitchCase="'dessert'" >
            <ion-item *ngFor="let mcdonald of mcdonald_menu.Desert">
              <ion-thumbnail item-left>
                <img class="mcdonald_img" src="img/food/everything/{{mcdonald.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{mcdonald.name}}</h2>
              <p>Hayao Miyazaki • 1988</p>
              <button ion-button tappable (click)="addFoodItem($event, mcdonald)" clear item-right>Add</button>
            </ion-item>
          </div>

          <div *ngSwitchCase="'drinks'" >
            <ion-item *ngFor="let mcdonald of mcdonald_menu.Drinks">
              <ion-thumbnail item-left>
                <img class="mcdonald_img" src="img/food/everything/{{mcdonald.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{mcdonald.name}}</h2>
              <p>Hayao Miyazaki • 1988</p>
              <button ion-button tappable (click)="addFoodItem($event, mcdonald)" clear item-right>Add</button>
            </ion-item>
          </div>


        </div>
      </ion-list>

    </div>
  </ion-card>

  <ion-card #burgerking class="welcome-card" tappable ion-button (click)="pickRestaurant('1')">
    <h3 class="food-title" text-center>BurgerKing</h3>
    <img src="img/burgerking.jpg">
    <div class="foodlist" style="display: none">

      <ion-segment [(ngModel)]="burgerkingTab" color="secondary">
        <ion-segment-button class="segment-activated" value="burger">Burger</ion-segment-button>
        <ion-segment-button value="sides">Sides</ion-segment-button>
        <ion-segment-button value="dessert">Dessert</ion-segment-button>
        <ion-segment-button value="drinks">Drinks</ion-segment-button>
      </ion-segment>

      <ion-list>
        <div [ngSwitch]="burgerkingTab">

          <div *ngSwitchCase="'burger'" >
            <ion-item *ngFor="let burgerking of burgerking_menu.burgers">
              <ion-thumbnail item-left>
                <img class="mcdonald_img" src="img/food/everything/{{burgerking.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{burgerking.name}}</h2>
              <p>Hayao Miyazaki • 1988</p>
              <button ion-button tappable (click)="addFoodItem($event, burgerking)" clear item-right>Add</button>
            </ion-item>
          </div>

          <div *ngSwitchCase="'sides'" >
            <ion-item *ngFor="let burgerking of burgerking_menu.sides">
              <ion-thumbnail item-left>
                <img class="mcdonald_img" src="img/food/everything/{{burgerking.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{burgerking.name}}</h2>
              <p>Hayao Miyazaki • 1988</p>
              <button ion-button tappable (click)="addFoodItem($event, burgerking)" clear item-right>Add</button>
            </ion-item>
          </div>

          <div *ngSwitchCase="'dessert'" >
            <ion-item *ngFor="let burgerking of burgerking_menu.desserts">
              <ion-thumbnail item-left>
                <img class="mcdonald_img" src="img/food/everything/{{burgerking.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{burgerking.name}}</h2>
              <p>Hayao Miyazaki • 1988</p>
              <button ion-button tappable (click)="addFoodItem($event, burgerking)" clear item-right>Add</button>
            </ion-item>
          </div>

          <div *ngSwitchCase="'drinks'" >
            <ion-item *ngFor="let burgerking of burgerking_menu.drinks">
              <ion-thumbnail item-left>
                <img class="mcdonald_img" src="img/food/everything/{{burgerking.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{burgerking.name}}</h2>
              <p>Hayao Miyazaki • 1988</p>
              <button ion-button tappable (click)="addFoodItem($event, burgerking)" clear item-right>Add</button>
            </ion-item>
          </div>


        </div>
      </ion-list>


      </div>
  </ion-card>

  <ion-card #tacobell class="welcome-card" tappable ion-button (click)="pickRestaurant('2')">
    <h3 class="food-title" text-center>Tacobell</h3>
    <img src="img/tacobell.jpg">

    <div class="foodlist" style="display: none">

      <ion-segment [(ngModel)]="tacobellTab" color="secondary">
        <ion-segment-button class="segment-activated" value="taco">Taco</ion-segment-button>
        <ion-segment-button value="burrito">Burrito</ion-segment-button>
        <ion-segment-button value="sides">Sides</ion-segment-button>
      </ion-segment>
      <ion-segment [(ngModel)]="tacobellTab" color="secondary">
        <ion-segment-button value="drinks">Drinks</ion-segment-button>
        <ion-segment-button value="dessert">Sweets</ion-segment-button>
        <ion-segment-button value="breakfast">Breakfast</ion-segment-button>
      </ion-segment>
      <ion-list>
        <div [ngSwitch]="tacobellTab">

          <div *ngSwitchCase="'taco'">
            <ion-item *ngFor="let taco of tacobell_menu.tacos">
              <ion-thumbnail item-left>
                <img src="img/food/everything/{{taco.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{taco.name}}</h2>
              <p>Price: ${{taco.price}}</p>
              <button ion-button tappable (click)="addFoodItem($event, taco)" clear item-right>Add</button>
            </ion-item>
          </div>
          <div *ngSwitchCase="'burrito'">
            <ion-item *ngFor="let burrito of tacobell_menu.burritos">
              <ion-thumbnail item-left>
                <img src="img/food/everything/{{burrito.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{burrito.name}}</h2>
              <p>Price: ${{burrito.price}}</p>
              <button ion-button tappable (click)="addFoodItem($event, burrito)" clear item-right>Add</button>
            </ion-item>
          </div>
          <div *ngSwitchCase="'sides'">
            <ion-item *ngFor="let sides of tacobell_menu.sides">
              <ion-thumbnail item-left>
                <img src="img/food/everything/{{sides.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{sides.name}}</h2>
              <p>Price: ${{sides.price}}</p>
              <button ion-button tappable (click)="addFoodItem($event, sides)" clear item-right>Add</button>
            </ion-item>
          </div>
          <div *ngSwitchCase="'drinks'">
            <ion-item *ngFor="let drinks of tacobell_menu.drinks">
              <ion-thumbnail item-left>
                <img src="img/food/everything/{{drinks.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{drinks.name}}</h2>
              <p>Price: ${{drinks.price}}</p>
              <button ion-button tappable (click)="addFoodItem($event, drinks)" clear item-right>Add</button>
            </ion-item>
          </div>
          <div *ngSwitchCase="'dessert'">
            <ion-item *ngFor="let dessert of tacobell_menu.desserts">
              <ion-thumbnail item-left>
                <img src="img/food/everything/{{dessert.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{dessert.name}}</h2>
              <p>Price: ${{dessert.price}}</p>
              <button ion-button tappable (click)="addFoodItem($event, dessert)" clear item-right>Add</button>
            </ion-item>
          </div>
          <div *ngSwitchCase="'breakfast'">
            <ion-item *ngFor="let breakfast of tacobell_menu.breakfast">
              <ion-thumbnail item-left>
                <img src="img/food/everything/{{breakfast.picture_url}}.png">
              </ion-thumbnail>
              <h2>{{breakfast.name}}</h2>
              <p>Price: ${{breakfast.price}}</p>
              <button ion-button tappable (click)="addFoodItem($event, breakfast)" clear item-right>Add</button>
            </ion-item>
          </div>

        </div>
      </ion-list>
    </div>
  </ion-card>

  <!--<ion-card #starbuck class="welcome-card" tappable ion-button (click)="pickRestaurant('3')">-->
  <ion-card #starbuck class="welcome-card" tappable ion-button>
    <h3 class="food-title" text-center>Not Available yet!</h3>
    <img src="img/starbuck.jpg">
    <div class="foodlist" style="display: none">



      <ion-list>
        <ion-item>
          <ion-thumbnail item-left>
            <img src="img/kristy.png">
          </ion-thumbnail>
          <h2>My Neighbor Totoro</h2>
          <p>Hayao Miyazaki • 1988</p>
          <button clear item-right>Add</button>
        </ion-item>
      </ion-list>
      </div>
  </ion-card>

  <!--<ion-card #kfc class="welcome-card" tappable ion-button (click)="pickRestaurant('4')">-->
  <ion-card #kfc class="welcome-card" tappable ion-button>
    <h3 class="food-title" text-center>Not Available yet!</h3>
    <img src="img/kfc.jpg">
    <div class="foodlist" style="display: none">
      <ion-list>
        <ion-item>
          <ion-thumbnail item-left>
            <img src="img/kristy.png">
          </ion-thumbnail>
          <h2>My Neighbor Totoro</h2>
          <p>Hayao Miyazaki • 1988</p>
          <button clear item-right>Add</button>
        </ion-item>
      </ion-list>
      </div>
  </ion-card>

  <!--<ion-card #chipotle class="welcome-card" tappable ion-button (click)="pickRestaurant('5')">-->
  <ion-card #chipotle class="welcome-card" tappable ion-button>
    <h3 class="food-title" text-center>Not Available yet!</h3>
    <img src="img/chipotle.jpg">
    <div class="foodlist" style="display: none">
      <ion-list>
        <ion-item>
          <ion-thumbnail item-left>
            <img src="img/kristy.png">
          </ion-thumbnail>
          <h2>My Neighbor Totoro</h2>
          <p>Hayao Miyazaki • 1988</p>
          <button clear item-right>Add</button>
        </ion-item>
      </ion-list>
      </div>
  </ion-card>


  <!--<button ion-button full tappable (click)="safetyButton()">Reset</button>-->


</ion-content>

