.homemain-page{

  #PizzaId{
    color: #E62117;
    //color: #73100B;
    position: fixed;
    font-size: 25px;
    z-index: 1;
  }

  .segment-button{
    background-color: #E62117;
    color: #FFF;
    border-color: #FFF;
  }
  .segment-button.segment-activated{
    background-color: #73100B;
  }

  #close-marker{
    //font-size: 3.0rem !important;
    font-size: 3.0rem;
    position: absolute;
    left: 85%;
    z-index: 2;
    font-weight: bolder;
    top: 25px;
    color: white;
  }
  .welcome-card{
    position: relative;
    .food-title2{
      color: #FFF;
      letter-spacing: 4px;
      font-size: 2.7rem;
      background: rgba(54, 25, 25, .35);
      position:absolute;
      height: 100%;
      width: 100%;
      //top:30%;
    }

    .food-title{
      color: #FFF;
      letter-spacing: 4px;
      font-size: 2.7rem;
      background: rgba(54, 25, 25, .35);
      position:absolute;
      height: 100%;
      width: 100%;
      //top:30%;
    }
    .food-shadowTop{
      width: 100%;
      top:0;
      margin: 0;
      padding-bottom: 38px;
      background: rgba(54, 25, 25, .4);
      position: absolute;
    }
    .food-shadowBot{
      width: 100%;
      margin: 0;
      padding-top: 58px;
      background: rgba(54, 25, 25, .4);
      position: absolute;
      bottom: 0;
    }


    .mcdonald_img{
      max-width: 8rem;
      max-height: 8rem;
    }


  }

}
