// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.




@import "../pages/home/home";
@import "../pages/barcode/barcode";
@import "../pages/home/signup/signup";
@import "../pages/barcode/saved-modal/saved-modal";

*{
  font-family: 'Chewy', cursive;
}

ion-content{
  background-color: $main-background-color;
}

.tabbar{
  background: #E62117 !important;
  border-bottom: 0 !important;
}

ion-card{
  //border-top: 2px solid #E62117 !important;
}

ion-title{
  padding: 0;
}

.tab-button{
  color: #73100B !important;
}

.toolbar-title{
  color: #FFF !important;
  font-weight: 900 !important;
}

.toolbar-background{
  background: #E62117 !important;
  border-color:#E62117 !important;
}

.tab-button[aria-selected=true]{
  color: #FFF !important;
  border-bottom: 4px solid #FFF !important;
}

ion-tabbar{
  background: #E62117 !important;
}
