<!--
  Generated template for the Barcode page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title id="barcode-title" style="text-align:center;">Barcode</ion-title>
  </ion-navbar>

</ion-header>


  <ion-content class="page-barcode">

    <ion-card class="barcode-card tabs">
      <ion-card-content class="tab-content">
        <ion-segment [(ngModel)]="BarcodeTabs" sidecolor>
          <ion-segment-button class="segment-activated" value="draft">Draft</ion-segment-button>
          <ion-segment-button value="scanned">Scanned</ion-segment-button>
          <ion-segment-button value="saved">Saved</ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card>


    <ion-card padding class="barcode-card">
      <div [ngSwitch]="BarcodeTabs">
        <div *ngSwitchCase="'draft'" class="draft-card">
          <!--<ion-list>-->
            <!--<ion-list-header>-->
              <!--<span>Draft</span>-->
              <!--<span><button style="float: right" ion-button tappable clear item-right>Generate Barcode</button></span>-->
            <!--</ion-list-header>-->
            <!--<ion-item-sliding>-->
              <!--<ion-item>-->
                <!--<ion-avatar item-left>-->
                  <!--<img src="img/profile-picture/female3.png">-->
                <!--</ion-avatar>-->
                <!--<h2>Slimer</h2>-->
              <!--</ion-item>-->
              <!--<ion-item-options side="right">-->
                <!--<button danger>-->
                  <!--<ion-icon name="trash"></ion-icon>-->
                  <!--delete-->
                <!--</button>-->
              <!--</ion-item-options>-->
            <!--</ion-item-sliding>-->
          <!--</ion-list>-->



          <ion-list>
            <ion-list-header>
              <span>Draft</span>
              <span><button style="float: right" ion-button tappable clear item-right>Generate Barcode</button></span>
            </ion-list-header>
            <ion-item-sliding *ngIf="draftItems">
              <ion-item class="draft_item" *ngFor="let draftItem of draftItems">
                <ion-thumbnail item-left>
                  <img class="draft_img" src="{{draftItem.food_url}}">
                </ion-thumbnail>
                <h2>{{draftItem.food_name}}</h2>
                <p>Amount: {{draftItem.food_amount}}</p>
              </ion-item>
              <ion-item-options side="right">
                <button danger>
                  <ion-icon name="trash"></ion-icon>
                  delete
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>


        </div>



        <div *ngSwitchCase="'scanned'">
          <ion-list>
            <ion-list-header>
              Scanned Barcodes
            </ion-list-header>
            <ion-item-sliding>
              <ion-item>
                <ion-avatar item-left>
                  <img src="img/profile-picture/male1.png">
                </ion-avatar>
                <h2>Jason</h2>
                <p>Description of my order...</p>
              </ion-item>
              <ion-item-options side="right">
                <button secondary>
                  <ion-icon name="md-checkmark-circle-outline"></ion-icon>
                  save
                </button>
                <button danger>
                  <ion-icon name="trash"></ion-icon>
                  delete
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>


        <div *ngSwitchCase="'saved'">
          <ion-list>
            <ion-list-header>
              Saved Barcodes
            </ion-list-header>
            <ion-item-sliding>
              <ion-item>
                <ion-avatar item-left>
                  <img src="img/profile-picture/female3.png">
                </ion-avatar>
                <h2>Cindy</h2>
                <p>Description of my order</p>
              </ion-item>
              <ion-item-options side="right">
                <button secondary>
                  <ion-icon name="md-checkmark-circle-outline"></ion-icon>
                  save
                </button>
                <button danger>
                  <ion-icon name="trash"></ion-icon>
                  delete
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </div>
    </ion-card>



  </ion-content>
