.page-barcode {

  .tab-content{
    padding: 0;
  }

  #testId{
    color: #73100B;
    position: fixed;
    font-size: 25px;
  }

  .barcode-tab > .tabs{
    ion-card-content{
      padding: 0;
    }
  }


  .draft-card{
    ion-label{
      margin: 0;
    }

  }


}
