<!--
  Generated template for the Barcode page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="page-header">

  <ion-navbar>
    <ion-title id="barcode-title" style="text-align:center;">Barcode</ion-title>
    <ion-buttons end>
      <button class="scan-button" ion-button icon-only (click)="activateScan()">
        <!--<ion-icon name="search"></ion-icon>-->
        <!--<i class="fa-stack fa-circle fa-qrcode "></i>-->
        <span class="fa-stack fa-lg">
  <i class="fa fa-square-o fa-stack-2x"></i>
  <i class="fa fa-qrcode fa-stack-3x"></i>
</span>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


  <ion-content class="page-barcode">

    <ion-card class="barcode-card tabs">
      <ion-card-content class="tab-content">
        <ion-segment [(ngModel)]="BarcodeTabs" sidecolor>
          <ion-segment-button class="segment-activated" value="draft">Draft</ion-segment-button>
          <ion-segment-button value="scanned">Scanned</ion-segment-button>
          <ion-segment-button value="saved">Saved</ion-segment-button>
        </ion-segment>
      </ion-card-content>
    </ion-card>

    <ion-card padding class="barcode-card">
      <div [ngSwitch]="BarcodeTabs">



        <div *ngSwitchCase="'draft'" class="draft-card">
          <ion-list *ngIf="draftItems">
            <ion-list-header>
              <span>Draft</span>
              <button style="float: right;color: red;" ion-button tappable clear item-right (click)="ResetDraft()">Reset</button>
              <span><button style="float: right" ion-button tappable clear item-right (click)="generateCode()">Generate Barcode</button></span>
            </ion-list-header>
            <ion-item-sliding *ngFor="let draftItem of draftItems">
              <ion-item class="draft_item">
                <ion-thumbnail item-left>
                  <img class="draft_img" src="img/food/everything/{{draftItem.food_url}}.png">
                </ion-thumbnail>
                <h2>{{draftItem.food_name}}</h2>
                <p>Amount: {{draftItem.food_amount}} <ion-badge *ngIf="draftItem.food_notes !== 'empty'" item-right>note</ion-badge></p>
              </ion-item>
              <ion-item-options side="right">
                <button primary tappable ion-button (click)="AddNote(draftItem.id)">
                  <ion-icon name="md-create"></ion-icon>
                  notes
                </button>
                <button secondary tappable ion-button (click)="UpdateDraftItem(draftItem.id, draftItem.food_amount)">
                  <ion-icon name="md-create"></ion-icon>
                  update
                </button>
                <button danger tappable ion-button (click)="DeleteDraftItem(draftItem.id)">
                  <ion-icon name="trash"></ion-icon>
                  delete
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>



        <div *ngSwitchCase="'scanned'">
          <ion-list *ngIf="scannedItems">
            <ion-list-header>
              Scanned Barcodes
            </ion-list-header>
            <ion-item-sliding *ngFor="let scannedItem of scannedItems">
              <ion-item>
                <ion-avatar item-left>
                  <img src='img/profile-picture/{{scannedItem.profile_pic}}.png'>
                </ion-avatar>
                <h2>{{scannedItem.creator}}</h2>
                <p>{{scannedItem.title}}</p>
              </ion-item>
              <ion-item-options side="right">
                <button secondary>
                  <ion-icon name="md-checkmark-circle-outline"></ion-icon>
                  save
                </button>
                <button danger>
                  <ion-icon name="trash"></ion-icon>
                  delete
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>


        <div *ngSwitchCase="'saved'">
          <ion-list *ngIf="savedItems">
            <ion-list-header>
              Saved
            </ion-list-header>
            <ion-item-sliding *ngFor="let savedItem of savedItems">
              <ion-item class="savedItem" tappable ion-button (click)="OpenSavedItemModal(savedItem, savedItem.id)">
                <ion-avatar item-left>
                  <img src='img/profile-picture/{{savedItem.profile_pic}}.png'>
                </ion-avatar>
                <h2>{{savedItem.creator}}</h2>
                <p>{{savedItem.title}}</p>
              </ion-item>
              <ion-item-options side="right">
                <button danger tappable (click)="DeleteFromSaved(savedItem.id)">
                  <ion-icon name="trash"></ion-icon>
                  delete
                </button>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </div>
      </div>
    </ion-card>


  </ion-content>
