.page-barcode {

  .savedItem{
    padding-left: 0;
  }

  .tab-content{
    padding: 0;
  }

  #testId{
    color: #73100B;
    position: fixed;
    font-size: 25px;
  }

  .barcode-tab > .tabs{
    ion-card-content{
      padding: 0;
    }
  }

  .draft_img{
    max-width: 8rem;
    max-height: 8rem;
  }

  .draft-card{
    ion-label{
      margin: 0;
    }

  }

  .draft_item{
    padding-left: 0;
  }


}
